body{
    font-family: 'Roboto', sans-serif;
}

/* typografi */

h1, h2, h3,li, p{
    text-align: center;
   
}
/* ------------ menus ---------------*/
#menu-footer{
    width:100%;
    position: fixed;
    left:0;
    bottom:0;
    background:#42A5F5;
    height:60px;
}
#menu{
   display: none;
   position: relative;
   left:30%;
   background: #42A5F5;
   width:100%;
  
}
#menu-footer ul li{
    font-size: 30px;
    color:#fff;
    list-style-type: none;
    display: inline-block;
    padding-top:1%;
    padding-left:18%;
}
/*------- fab-button ------*/
.fab-btn{
    width:55px;
    height:55px;
    background:#42A5F5;
    position: fixed;
    bottom:90px;
    right:25px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.fab-btn i{
    font-size:24px;
    color:#fff;
    padding:15px 13px;
}
/*-------image-header -------*/

.col-sm-12 img{
    width:300px; /*300px*/
    height:300px;
    margin: 0 auto;
    margin-top:5%;
    border-radius:50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px;
  
}
/*------- information about me ----------*/
.information-about-me{
    margin:0 auto;
}
.information-about-me h2{
    font-size:1.5em;
}

.information-about-me p{
    width:80%;
    margin: 10px auto;
    text-align: left;
    margin-bottom:2%;
    padding-top:40px;
}
/*-------- arbetserfarenhet------*/
 ul li {
    list-style-type: none;
}
.arbetserfarenhet h3{
    
    text-transform: uppercase;
    margin-top:5%;
}
/*------- media queries ---------------*/
@media (min-width: 800px) {
  
    /* ---- menus ----*/
   #menu ul li{
       color:#fff;
   }
   #menu-footer{
      display: none;
   }
   #menu-footer ul li i{
       color:#42A5F5;
   }
   #menu {
       width:100%;
       display: show;
       position: fixed;
       top:0;
       left:0;
       display: inline-block;
     }   
     #menu ul li{
         font-size:20px;
         float:right;
         padding:10px 20px;
         text-transform: uppercase;
         text-align: center;
     }
     
     /*----- information about me ----- */
     .information-about-me p{
         width:50%;
        padding-top:20px;
     }
     /* img and fab button */
     .col-sm-12 img{
         margin-top:8%;
    }
    .fab-btn{
        right:50px;
        bottom:30px;
    }
 }

